html body{
  /* background-color: #484a72; */
  background:radial-gradient(#484a72, #7a8eb7);
  min-width: 760px;
  /* overflow: hidden; */
}
*{
  font-size: 12px;  
}
/* .nelement::selection {
  color: red;
  background: yellow;
} */
/* -------------------------NAV------------------------------ */
#nav {
  text-align: center;
    /* background-color: #484a72; */
    background:none;
    min-height: 60px;
    min-width: 100%;
    color: rgb(237, 228, 228);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
  }

#nav> div {
  margin: 10px;
  text-align: center;
  align-self: center;

}

/* save & preview butttons */
.save-and-preview-buttons{
  width: 220px;
  align-self: center;
}
#nav> div {
  text-align: right;

}

   .save-button {
    background-color: #e27625;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Open Sans,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    width:30px;
    margin: auto;
    /* padding: 4px 15px; */
    /* text-transform: uppercase; */
    /* margin-right: 10px; */
    border-radius: 10px;
    overflow: hidden; 
    transition: width 0.1s;
}
/* .save-button:hover {
  width: 120px;
}
.save-button span {
  display: none;
}
:hover span {
  display: inline-block;
} */
.preview-button {
    background-color: #fff;
    height: 40px; 
    width:30px;
    font-size: 15px;
    /* padding: 4px 15px;  */
    background: rgb(70, 165, 72);
    font-weight: 500;
    color: white; border: none;
    cursor: pointer;
    border-radius: 2px;
    /* text-transform: uppercase; */
    border-radius: 10px;
    overflow: hidden; 
    transition: width 0.1s;
}
.publish-button:hover {
  width: 130px;
}

.empty-button{
  
  background-color: rgb(255, 255, 255);
  width:30px;
  height: 40px; 
  font-size: 15px;
  /* padding: 4px 15px;  */
  background: rgb(16, 116, 237);
  font-weight: 500; color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  /* text-transform: uppercase; */
  padding-left: 3px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden; 
  transition: width 0.1s ease-in;
}
.three_btns:hover{
width: fit-content;

}
.three_btns .hedden-content{
  display: none;  
  }
.three_btns:hover .hedden-content{
display: inline-block;  
}
.three_btns:hover .save-and-preview-buttons{
margin-right: 0px;
}

.modes{
  /* background:radial-gradient(#484a72, #4b6db1); */
  
  text-size-adjust: 300;
  /* margin-top: 20px; */
  /* margin-left: 300px; */
  /* padding: 5px; */
}

.mode{
  background-color: #ddd;
  border-radius: 5px;
}
/* ----------------- code modal---------------------- */

.CodeModal {
  display: none; 
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -75px;
}

.code-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.CodeModal iframe {
  width: 100%;
  height: 400px; /* Set the desired height for the iframe */
}

/* --------------------------properties-------------------------- */
#properties {
  background:radial-gradient(#7a8eb7,#484a72 );
  width: 15%;
  float: right;
  min-height: 400px;
  margin-top: 20px;
  text-align: center;
  border-radius:5px;
  right: 1%;
}
#indicator{
  width: 65px;
  border: none;
  background: #688bf5;
  height: 3px;
  margin-top: 8px;
  transform: translateX(50px);
  transition: transform 1s;
}
.form-btn label{
  border-style:groove ;
  border-color: #7275b8;
   padding: 1px 3px;
   border-radius: 5px;
}
#element_properties{
  /* display: none; */
}
/* ------------------nelement style box----------------- */
.mb-3{
  margin-bottom: 10px;
}
#inputGroupSelect02 , #inputGroupSelect14 , #inputGroupSelect15{
 padding: 1px;
 width: 20px;
height: 20px;
float: right;
}
/* ------------------login--------------------- */
#login{
  text-align: center;

}
#login a{
   color: #582423;/* 440303 */
  border-style:groove ;
  border-color: #7275b8;
  border-radius: 5px;
   padding: 1px 3px; 
   background:radial-gradient(#9b9cb0,#7a8eb7 );
}
.account-page{
  padding: 67px 0;
  background:radial-gradient(#484a72,#7a8eb7) ;
  /* background:radial-gradient(#7a8eb7,#484a72 );  */
}
/* .container{
  max-width: 1300px;
  margin:auto;
  padding-left: 25px;
  padding-right: 25px;
} */
.row{
  display: flex;  
  align-items: center;
  flex-wrap: wrap;     
  justify-content: space-around;   
}
/* .col_2{
  flex-basis: 50%;  
  min-width: 300px;
} */
.form-container{
  background: #fff;
  width: 300px;
  height: 325px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0.1, 0.1, 0.1, .1);
  overflow: hidden; 
  border-radius: 20px;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color:#555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
 #indicator2{
  width: 100px;
  border: none;
  background: #688bf5;
  height: 3px;
  margin-top: 8px;
  transform: translateX(60px);
  transition: transform 1s;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 68px;
  transition: transform 1s ;
}
form input, form select {
  width:100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none; 
}
#loginform{
  left: -300px;    
} 
#regform{
  left: 0;
}
form a{
  font-size: 12px;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width:40px;
  height: 40px;
}
/* ----------------pageTitle----------------- */
.pageTitle{
  /* text-align: center; */
  width: 62%;
  min-height: fit-content;
  float: left;
  padding: 5px;
  margin-top: 10px;
  margin-left:2px;
  margin-right:2px;
  /* background:radial-gradient(#484a72,#7a8eb7 ); */
  border-radius:20px;
  /* border-style:groove ;
  border-color: #484a72; */
}
.btn{
  display: inline-block;
  background:#484a72 ;
  color:#fff;
  border-radius: 30px;
  transition: background .5s; 
  width: fit-content;
  padding: 0;
}
.btn:hover{
  background: #7a8eb7;
}
/* ------------- TOOLBAR ------------- */
#toolbar {
  text-align: center;
  /* width: 15%; */
  min-height: fit-content;
  float: left;
  margin-top: 40px;
  margin-left:2px;
  margin-right:2px;
  background:radial-gradient(#7a8eb7,#484a72 );
  border-radius:5px;
}



/* 
.tool-item {
  background-color: #d0d0d0;
  padding: 10px;
  margin-top: 10px;
  display: none;
} */

 /* Styles for draggable elements */
 .element {
  /* position: absolute; */
  width: 40%;
  height: 30px;
  margin-top: 5px;
  background-color: #aaa;
  cursor: pointer;
  border: #7a8eb7;
  border-width: 2;
  border-style: double;
  display: inline-block;
  margin-right: 2%;
 cursor: pointer;
} 

.tags {
  /* background-image: linear-gradient(to bottom right,#7a8eb7,thistle ) ; */
  /* padding: 10px; */
  margin-bottom: 10px;
  }

/* --------------------------CANVAS------------------------------- */
  #canvas {
    overflow: hidden;
    /* height: 100px;    */
    width: 50%;
    min-height: 500px;
    display: inline-block;
    background-color: rgb(231, 224, 224);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    border-style:groove ;
  border-color: #484a72;
    /* min-width: 500px; */

  }
  .canvas-head{
    background: #333;
    height: 35px;
    padding: 0px 0px 0px 11px;
    margin-bottom: -10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 49.7%;
    display: inline-block;
  }
  .canvas-tool{
    height: 44px;
    padding: 7px 0px 0px 11px;
    background: rgb(231, 224, 224);
    margin-bottom: -10px;
    margin-left: .09%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: #484a72;
    border-style: groove;
  }
  #reload{
    float: right;
    margin-right: 2%;
    background-color: #333;
}


  #preview{
    overflow: hidden;
    min-height: 500px;
    width: 49.9%;
    float: right;
    display: inline-block;
    background-color: rgb(248, 243, 243);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    border-style:groove ;
  border-color: #484a72;
  }
 .left {
  display: block;
  width: 13px;
  height: 13px;
  float: left;
  border-radius: 13px;
  margin-right: 6px;
}
.three-circle{
  padding-top :10px; 
}
  .title {
    color: #fff;
    /* margin-left: 320PX; */
}
#canvas .selected{
 background-color: #dfe225;
 /* border: #7a8eb7;
 border-style: dotted; */
}
#canvas .selected > * {
  background-color: white;
}

#sortButton{
  margin-left: -3%;
    margin-right: 62%;
  /* position: fixed; */
  /* z-index: 1; */
  /* margin-top: -0.9%; */
  color: #2055b9;
 
}
.nelement{
  cursor: pointer;
  user-select: none;
  border: #444;
  border: 2px;
  border-style: dotted;
  position: relative;
}
table {
  cursor: pointer;
  user-select: none;
  border: #444;
  border: 2px;
  border-style: double;
  position: relative;
  width: 80%;

}
tr {
  margin: 2%;
}
/* The Modal (background) */
.imgModal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding-left: 20%;
  padding-top: 15%;
  width: 50%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  /* background-color: #474e5d;
  opacity: 0.5; */
 
}

/* Modal Content/Box */
.tableModal-content {
  background-color: rgba(255, 255, 255, 1);
  /* opacity: 1.0; */
  margin: 220%  15% ; 
  border: 1px solid #888;
  width: 50%; 
}
/* table modal */
.tableModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.tableModal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.arrow-up,
.arrow-down {
  display: none;
  content: "";
  position: absolute;
  top: -5px;
  left: 90%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #000;
  cursor: pointer;
}

.arrow-up {
  border-bottom: 15px solid black;
}

.arrow-down {
  border-top: 15px solid black;
}

.nelement:hover .arrow-up,
.nelement:hover .arrow-down {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translateX(-50%);
  width: 0;
  height: 10;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #000;
  cursor: pointer;
}

/* ---------------content modal---------------- */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*  */
#canvasbody {
  width: 600px;
  height: 400px;
}
#displayCode{
  display: none; 
  text-align: left; 
}
#codeCanvas{
 
  min-height: 500px;
  /* background-color: #444; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
}
pre {
  /* display: none; */
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #fff;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #444;
  /* border: 1px solid #ccc;
  border-radius: 4px; */
}
/* ------------------------GRID----------------------------- */
.grid-container {
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  align-content: stretch;
  justify-content: normal;
  align-items: stretch;
  justify-items: normal;

}
.grid-item {
  text-align: center;
  cursor: move;
}

/* .draggable {
  
} */

